.card.my-2.mx-0.border-0
  name #{comment.name}
  %br
  comment #{comment.comment}
  .fa.fa-thumbs-up
    - if comment.up != nil
      #{comment.up}
    - else
      0
  .fa.fa-thumbs-down
    - if comment.down != nil
      #{comment.down}
    - else
      0
  -# %a.btn.d-flex
  -#   %i.fa.fa-power-off.d-flex
  %p
    %a.comment-rating-button.comment-rating-button-up.d-inline-flex.justify-content-center.font-weight-bold{} +
  %p
    %a.comment-rating-button.comment-rating-button-down.d-inline-flex.justify-content-center.font-weight-bold{} -
