// Place all the styles related to the Novels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.comment-rating-button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 35px;
  padding-top: 10px;
  margin-bottom: 4px;
  // ユーザーがボタンのテキストをハイライトできないようにする
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.comment-rating-button-up{
  background: #73DCFF;
  box-shadow: 0 3px 0 #2a82a3;
  color: white !important;
  .comment-rating-button-up:hover {
    background: #2a82a3 !important;
  }
}
.comment-rating-button-down{
  background: #BDBDAE;
  box-shadow: 0 3px 0 #79796A;
  color: white !important;
  .comment-rating-button-down:hover {
    background: #79796A !important;
  }
}


.comment-rating-bar{
  border-radius: 20px;
  background-color: #DFDFD0;
  height: 25px;
  width: 200px;
  .comment-rating-bar-up{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #73DCFF;
    height: 25px;
    width: 160px;
  }
}

.comment-count{
  font-size: 18px;
  margin-left: 14px;
}
.comment-count-up{
  color: #5DB2CD !important;
}
.comment-count-down{
  color: #99998C !important;
}
