// Place all the styles related to the Novels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//novel
.novel-description{
  height: 100px;
  overflow: hidden;
}
.novel-page-link-in-title{
  opacity: 0;
  height: 0px;
}
.novel-page-link-in-title.display{
  opacity: 1;
  // height: 48px;
  border-bottom: solid 1px #E9EBEE !important;
  background-color: rgba(245, 245, 245, 0.1) !important;
  transition: 1.5s;
}

.novel-title h1{
  font-size: 1.25rem;
  padding: 8px !important;
  transition: .2s;
}
.novel-title.sticky h1{
  font-size: 1.0rem !important;
  padding: 4px !important;
}
.novel-title.sticky{
  border-bottom: solid 1px #E9EBEE !important;
  background-color: rgba(245, 245, 245, 0.8);
}

.novel-page-link:hover{
  text-decoration: none;
}

.novel-box-title{
  font-weight: bolder;
}

.amazon-image{
  width: 100px;
  height: 150px;
}

.amazon-image-percentage{
  width: 30%;
}

.flex{
  display: flex;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-space-around{
  display: flex;
  justify-content: space-around;
}

.white{
  color: white;
}
