// Place all the styles related to the Osusumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  background-color: #E9EBEE !important;
}

.other-osusume{
  color: #007bff;
}

.osusume-title h1{
  font-size: 1.25rem;
}

.osusume-title{
  font-size: 1.25rem;
  padding: 8px;
  transition: .2s;
}
.osusume-title.sticky{
  font-size: 1.0rem;
  padding: 4px;
  border-bottom: solid 1px #E9EBEE !important;
  background-color: rgba(245, 245, 245, 0.8);
}

//osusumes#index
.card-footer.fa-book{
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  // left: 85px;
}

.novel-description-in-osusume{
  height: 50px;
}

// osusume#show
// novel-card
.card{
  border-radius: 0 !important;
}
.card-footer{
  background-color: white !important;
  height: 35px;
  .description{
    font-size: 10px;
    position: absolute;
    bottom: 4px;
    left: 15px;
  }
  .fa-comments-o{
    font-size: 20px;
    position: absolute;
    bottom: 6px;
    right: 130px;
    color: grey;
  }
  .novel-card-like{
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    right: 50px;
  }
  .fa-heart-o{
    color: grey;
  }
  .fa-heart{
    color: red;
    pointer-events: none;
  }
}

.add-novel-modal-description {
  height: 120px;
}
