.other-osusumes.card.d-flex.flex-row.flex-wrap.mt-2.p-1
  【他カテゴリ ※リロードで変わります】
  - osusumes.each do |osusume|
    = link_to osusume_path(osusume), target: "_blank"  do
      .other-osusume.mx-1
        #{osusume.short_title}
